.fieldCell {
  width: 50px;
  height: 50px;
  background-color: var(--clr-background);
  border: none;
  outline: 2px solid var(--clr-details);
  color: var(--clr-details);
  cursor: pointer;
  transition: background-color .3s;
}

.fieldCell:first-child {
  border-top-left-radius: 10px;
}

.fieldCell:nth-child(5) {
  border-top-right-radius: 10px;
}

.fieldCell:nth-child(21) {
  border-bottom-left-radius: 10px;
}

.fieldCell:nth-child(25) {
  border-bottom-right-radius: 10px;
}

.fieldCell:hover {
  background-color: var(--clr-main);
}

.checked {
  background-color: var(--clr-accent);
}

.checked:hover {
  background-color: var(--clr-accent-hover);
}


@media (min-width: 768px) {
  .fieldCell {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
  }
}