.settingsMenu {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-100vh);
  transition: transform .3s;
  z-index: 100;
}

.settingsMenuInner {
  width: fit-content;
  margin-left: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--clr-main);
  border-radius: 15px;
}

.active {
  transform: translateY(0);
}

/* Checkbox */
.checkboxLabel {
  display: flex;
  align-items: start;
  gap: 10px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.customCheckbox {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  background-color: transparent;
  border: 3px solid var(--clr-details);
}

.customCheckbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  background-color: var(--clr-details); 
  transition: transform .3s;
}

.checkbox:checked + .customCheckbox::before {
  transform: translate(-50%, -50%) scale(1);
}


.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: 2px solid var(--clr-details);
  border-radius: 5px;
  outline: none;
  color: var(--clr-details);
}

.input::placeholder {
  color: var(--clr-details);
}

.button {
  align-self: start;
  padding: 5px 10px;
  background-color: var(--clr-details);
  color: var(--clr-main);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.button:hover {
  background-color: var(--clr-details);
}

.buttonActive {
  background-color: var(--clr-accent);
  color: var(--clr-details);
}

.buttonSubmit {
  margin-top: 5px;
  align-self: end;
}

.buttonSecret {
  background-color: transparent;
  color: var(--clr-details);
  border-style: dashed;
}

.buttonSecret:hover {
  background-color: transparent;
}
